<section id='trendlines'>
	<p class='line-label line-label-female'>Women</p>
	<p class='line-label line-label-male'>Men</p>
	<figure></figure>
	<div class='trend__text' id='trendText1'>
		{{#each copy.trendText1}}
			<p>{{{value}}}</p>
		{{/each}}
	</div>
	<div class='trend__text' id='trendText2'>
		{{#each copy.trendText2}}
			<p>{{{value}}}</p>
		{{/each}}
	</div>
	<div class='trend__note' id='trendNote1'>
		<div class='wrapper'>
			{{#each copy.trendNote1}}
				<p>{{{value}}}</p>
			{{/each}}
			<div class='img-container' id ='imgNote1'>
				<img src='./assets/images/avgs_decade/1930_female_1.png'>
				<img src='./assets/images/avgs_decade/1930_female_2.png'>
			</div>
		</div>
	</div>
	<div class='trend__note' id='trendNote2'>
		<div class='wrapper'>
			{{#each copy.trendNote2}}
				<p>{{{value}}}</p>
			{{/each}}
			<div class='img-container' id ='imgNote2'>
				<img src='./assets/images/avgs_decade/1950_male_3.png'>
				<img src='./assets/images/avgs_decade/1950_male_9.png'>
			</div>
		</div>
	</div>
	<div class='trend__note' id='trendNote3'>
		<div class='wrapper'>
			{{#each copy.trendNote3}}
				<p>{{{value}}}</p>
			{{/each}}
			<div class='img-container' id ='imgNote3'>
				<img src='./assets/images/avgs_decade/1980_female_4.png'>
				<img src='./assets/images/avgs_decade/1970_male_2.png'>
			</div>
		</div>
	</div>
	<div class='trend__note' id='discrimNote1'>
		<div class='wrapper'>
			{{#each copy.discrimNote1}}
				<p>{{{value}}}</p>
			{{/each}}
			<div class='img-container' id ='imgNote4'>
				<img src='./assets/images/avgs_decade/1950_female_1.png'>
				<img src='./assets/images/avgs_decade/1950_male_10.png'>
			</div>
		</div>
	</div>
	<div class='trend__note' id='discrimNote2'>
		<div class='wrapper'>
			{{#each copy.discrimNote2}}
				<p>{{{value}}}</p>
			{{/each}}
			<div class='img-container' id ='imgNote5'>
				<img src='./assets/images/avgs_decade/1980_female_3.png'>
				<img src='./assets/images/avgs_decade/1980_male_1.png'>
			</div>
		</div>
	</div>
	<div class='trend__note' id='discrimNote3'>
		<div class='wrapper'>
			{{#each copy.discrimNote3}}
				<p>{{{value}}}</p>
			{{/each}}
			<div class='img-container' id ='imgNote6'>
				<img src='./assets/images/avgs_decade/2010_female_4.png'>
				<img src='./assets/images/avgs_decade/2010_male_5.png'>
			</div>
		</div>
	</div>
</section>
